@use "mixins/all" as *;

/// _multi-column-block.scss löytyy sellaiset arvot, jotka vaikuttaa sekä kahden, kolmen ja neljän palstan lohkoon
section.four-column-block {
	padding-bottom: 25px;
	border: 1px solid $black;
	background-color: $white;

	.grid,
	.grid-full {
		grid-template-columns: repeat(4, minmax(0, 1fr));

		@media (max-width: $max-m) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@media (max-width: $max-xxs) {
			grid-template-columns: minmax(0, 1fr);
		}

		.block-title {
			grid-column: 1 / -1;
		}

		.column {
			border: 1px solid $black;
			padding: 15px 30px;
			background-color: $white;
		}
	}
	&.decorate {
		.grid,
		.grid-full {
			.column {
				.wrapper {
					.title-wrapper {
						width: 50px;
						height: 75px;
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
						align-items: center;
						background-color: $green-lighter;
						margin-top: -15px;
						.block-title {
							margin: 0 0 15px 0;
						}
					}
					p,
					a,
					span,
					li {
						font-size: 1.8rem;
					}
				}
			}
		}
	}
}
