@use "mixins/all" as *;

/// _multi-column-block.scss löytyy sellaiset arvot, jotka vaikuttaa sekä kahden, kolmen ja neljän palstan lohkoon
section.four-column-block {
	padding-bottom: 25px;
	background-color: $site-background;
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;

	.grid,
	.grid-full {
		grid-template-columns: repeat(4, minmax(0, 1fr));

		@media (max-width: $max-m) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@media (max-width: $max-xs) {
			grid-template-columns: minmax(0, 1fr);
		}

		.number {
			width: 50px;
			height: 75px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			background-color: $highlight-green;
			margin-top: -15px;

			span {
				display: block;
				margin: 0 0 5px;
				font-weight: 600;
				font-size: 2.8rem;
			}
		}

		.block-title {
			grid-column: 1 / -1;
		}

		.title-wrapper {
			.block-title {
				margin-top: 25px;
			}
		}

		.column {
			border: 1px solid $black;
			padding: 15px 30px;
			background-color: $site-background;
		}
	}
}
