@use "mixins/all" as *;

section.logos-block {

	.grid {
		border: 1px solid $black;
		padding: 30px;
		grid-template-columns: minmax(0, 1fr);
	}

	.text-block {
		grid-column: 1 / -1;
		text-align: center;
	}

	.logos {
		display: flex;
		margin: 0 auto;
		gap: 50px;
		flex-wrap: wrap;
		justify-content: center;
		@media(max-width:$max-xl) {
			gap: 25px;
		}
		@media(max-width:$max-xs) {
			gap: 10px;
		}
		.logo {
			
			img {
				max-width: 100px;
				@media(max-width:$max-xs) {
					max-width: 100px;
				}
			}
			@media(max-width:$max-s) {
				margin: 0 auto;
			}
		}

		// alternating rows of 5 and 4 items
		/*
		&:nth-child(even) {
			grid-template-columns: repeat(5, minmax(0, 1fr));
		}
		&:nth-child(odd) {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
		&.three-columns {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}

		&.four-columns {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}

		&.five-columns {
			grid-template-columns: repeat(5, minmax(0, 1fr));
		}

		&.six-columns {
			grid-template-columns: repeat(6, minmax(0, 1fr));
		}
		*/
	}
}
