@use "mixins/all" as *;

section.two-column-block,
section.three-column-block {
	margin: 50px 0px;
	@media(max-width:$max-m) {
		margin: 30px 0px;
	}
	@media(max-width:$max-xs) {
		margin: 15px 0px;
	}
	.grid-full {
		.left-block, .center-block, .right-block {
			
			padding: 75px 50px;
			@media(max-width:$max-xxl) {
				padding: 50px 30px;
			}
			@media(max-width:$max-xl) {
				padding: 30px;
			}
			@media(max-width:$max-l) {
				padding: 30px 15px;
			}
			.buttons {
				margin-top: 50px;
			}
		}
	}
	.grid, .grid-full {
		padding: 20px;
		gap: 0 20px;

		@media (max-width: $max-m) {
			gap: 20px 0;
			grid-template-columns: minmax(0, 1fr);
			grid-template-rows: minmax(0, 1fr);
		}

	}

	.title {
		grid-column: 1 / -1;
		text-align: center;

		@media (max-width: $max-m) {
			margin-bottom: 0;
		}
	}

	.left-block,
	.center-block,
	.right-block {

		&.bg-blue {
			background-color: $blue;
			color: $black;
		}
		&.bg-yellow {
			background-color: $yellow;
			color: $black;
		}
		&.bg-green {
			background-color: $green;
			color: $black;
		}
		&.bg-white {
			background-color: $white;
			border: 1px solid $black;
			color: $black;
		}
		&.bg-brown {
			background-color: $brown;
			color: $white;
			.block-title {
				color: $white!important;
			}
			a, a.link {
				color: $white!important;
				span {
					color: $white!important;
					&::after {
						color: $white!important;
					}
					&::before {
						background-color: $white!important;
					}
				}
			}
			.buttons {
				.button {
					border: 1px solid $white!important;
					color: $black!important;
					&:hover {
						color:$white!important;
					}
				}
			}
		}
		&.bg-black {
			background-color: $black;
			color: $white;
			.block-title {
				color: $white!important;
			}
			a, a.link {
				color: $white!important;
				span {
					color: $white!important;
					&::after {
						color: $white!important;
					}
					&::before {
						background-color: $white!important;
					}
				}
			}
			.buttons {
				.button {
					border: 1px solid $white!important;
					color: $black!important;
					&:hover {
						color:$white!important;
					}
				}
			}
		}

		.block-title {
			margin-top: 0;
		}
		.links {
			
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		@include arrowlink($black, 400);
	}

	@include buttons;
	
}
