@use "mixins/all" as *;

.input-wrapper {
	&.checkboxes-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.checkboxes {
			display: flex;
			gap: 50px;
		}
	}

	&.radios-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.radios {
			display: flex;
			gap: 50px;
		}
	}

	textarea {
		resize: none;
	}

	label {
		&.text-field,
		&.textarea-field, {
			display: flex;
			flex-direction: column;
		}

		&.text-field {
			.input-field-wrapper {
				display: flex;
				gap: 5px;

				input {
					width: 100%;
				}
			}
		}

		&.checkbox-field,
		&.radio-field {
			display: flex;
			gap: 5px;
		}
	}
}
