@use "mixins/all" as *;
@use "sass:color";

.acf-block-preview {
	.row-block {
		background-color: color.adjust($white, $lightness: -10%);

		.grid {
			display: unset;

			> .block-editor-inner-blocks {
				> .block-editor-block-list__layout {
					display: grid;
					gap: 15px;
					grid-template-columns: repeat(var(--columns), minmax(0, 1fr));

					> .wp-block {
						padding: 0 15px;
					}
				}
			}
		}

		.wp-block {
			background-color: $white;

			&.wp-block-acf-sarake {
				background-color: color.adjust($white, $lightness: -5%);
			}
		}
	}
}

.row-block {
	border-top: 1px solid $red;
	border-right: 1px solid $red;
	border-left: 1px solid $red;

	&:last-child {
		border-bottom: 1px solid $red;
	}

	.grid {
		// grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
		padding: 0;
	}

	&.top {
		.grid {
			grid-template-columns: 250px minmax(0, 1fr) minmax(0, auto) minmax(0, auto);
			justify-content: space-between;
			gap: 0;
		}

		.column {
			display: flex;
			flex-direction: column;
			justify-content: center;
			border-right: none;

			&.date {
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				gap: 5px;
			}
		}

		p {
			font-size: 1.4rem;
		}
	}
}
