@use "mixins/all" as *;

.card-content {
	.column-item {
		width: calc(var(--width, 100%) - 10px);
		@media (max-width: $max-xs) {
			width: 100%;
		}
	}

	.column {
		padding: 15px 20px;
		display: flex;
		flex-wrap: wrap;

		> * {
			// width: 100%;
			margin: 5px;
		}

		&:last-of-type,
		.single {
			border-right: none;
		}

		p {
			margin: 15px 0;
			line-height: 1.5;

			&.strong {
				font-weight: 400;
			}
		}

		.title-wrapper {
			padding: 10px 5px;
			margin: 0 !important;

			&.background-white {
				background-color: transparent;
			}

			&.background-grey {
				background-color: $grey;
				position: relative;
				margin-bottom: 5px !important;
				margin-top: -15px !important;

				&::after {
					position: absolute;
					top: 0;
					left: -20px;
					width: calc(100% + 50px); // ( 100% + 20px
					height: 100%;
					content: "";
					background-color: $grey;
					z-index: -1;
				}
			}

			&.background-light {
				background-color: $grey;
				position: relative;
				margin-bottom: 5px !important;
				margin-top: -15px !important;

				&::after {
					position: absolute;
					top: 0;
					left: -20px;
					width: calc(100% + 50px); // ( 100% + 20px
					height: 100%;
					content: "";
					background-color: $grey;
					z-index: -1;
				}
			}
		}

		.small-title {
			font-size: 1.6rem;
			margin: 0;
			line-height: 1.5;
			font-weight: 400;

			strong {
				font-style: normal;
			}
		}

		p.identifier-text,
		p.version-text {
			font-size: 2.2rem;
			font-weight: 400;

			em {
				font-size: 2rem;
			}
		}
	}
}

.single-lomakekortti {
	.card-content {
		.column {
			align-items: center;
		}
	}
}
