@use "mixins/all" as *;

.card-content {
	.image-wrapper {
		width: calc(var(--width, 100%) - 10px);

		figure {
			padding: 0;
			margin: 0;

			figcaption {
				:first-child {
					margin-top: 0;
				}

				:last-child {
					margin-bottom: 0;
				}

				* {
					font-size: 1.6rem;
				}
			}

			picture {
				font-size: 0;
			}
		}
	}
}
