@use "mixins/all" as *;

.card-content {
	.column {
		border-right: 1px solid $black;

		padding: 15px 20px;
		display: flex;
		flex-wrap: wrap;

		> * {
			width: 100%;
			margin: 5px;
		}

		&:last-of-type,
		.single {
			border-right: none;
		}

		p {
			margin: 15px 0;
			line-height: 1.5;

			&.strong {
				font-weight: 400;
			}
		}
		.title-wrapper {
			padding: 10px 5px;
			margin: 0 !important;
			&.background-white {
				background-color: $white;
			}
			&.background-grey {
				background-color: $grey;
			}
			&.background-light {
				background-color: $dim;
				position: relative;
				&::before {
					position: absolute;
					top: 0;
					left: -20px;
					width: 20px;
					height: 100%;
					content: "";
					background-color: $dim;
				}
				&::after {
					position: absolute;
					top: 0;
					right: -20px;
					width: 30px;
					height: 100%;
					content: "";
					background-color: $dim;
				}
			}
		}
		.small-title {
			font-size: 1.6rem;
			margin: 0;
			line-height: 1.5;
			font-weight: 400;

			strong {
				font-style: normal;
			}
		}

		p.identifier-text,
		p.version-text {
			font-size: 2.2rem;
			font-weight: 400;

			em {
				font-size: 2rem;
			}
		}
	}
}
