@use "mixins/all" as *;

body.page-template-template-korttiluettelo {
    main {
        section.cards {
            .grid {
                &.top {
                    grid-template-columns: 8fr 4fr;
                    .content-area {
                        grid-column: 1;
                    }
                    .sidebar {
                        grid-column: 2;
                        background-color: $grey;
                    }
                }
                &:not(.top) {
                    grid-template-columns: minmax(0, 1fr);
                }
                input[type="checkbox"], select {
                    cursor: pointer;
                }
                .search {
                    display: grid;
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                    gap: 15px 30px;
                    label, small.small {
                        font-size: 1.4rem;
                        font-style: italic;
                        margin: 5px 0px;
                        display: block;
                    }
                    .full {
                        grid-column: 1 / -1;
                        margin-bottom: 25px;
                    }
                    .one-third {
                        grid-column: auto;
                    }
                    .input-wrapper {
                        display: flex;
                        flex-direction: column;
                        white-space: none;

                        .inner-wrapper {
                            display: flex;
                            input {
                                flex-grow: 1;
                            }
                            &.date {
                                gap: 10px;
                                align-items: center;
                                font-size: 1.4rem;
                            }

                        }
                        button {
                            padding: 0px 30px;
                        }

                    }
                    .keywords {
                        margin-top: 10px;
                    }
                    input, textarea, button, select {
                        padding: 10px;
                        max-width: 100%;
                    }
                }
                .filters {
                    display: grid;
                    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
                    gap: 30px;
                    margin: 30px 0px;
                    label, small.small {
                        font-size: 1.4rem;
                        font-style: italic;
                        margin: 5px 0px;
                        display: block;
                    }
                    .half {
                        display: flex;
                        margin-top: auto;
                        .input-wrapper {
                            display: flex;
                            flex-direction: column;
                            white-space: none;

                            &.horizontal {
                                flex-direction: row;
                                align-items: center;
                                margin-left: auto;
                                height: 100%;
                                gap: 15px;

                                label {
                                    margin-left: auto;
                                }
                                .inner-wrapper {
                                    display: flex;

                                    input {
                                        flex-grow: 0;
                                        margin-right: 5px;
                                    }

                                }
                            }
                            .inner-wrapper {
                                display: flex;
                                input {
                                    flex-grow: 1;
                                }

                            }

                        }
                    }
                    select {
                        padding: 10px;
                        max-width: 100%;
                    }

                }
                .list {
                    position: relative;


                    .cardlist {
                        position: relative;
                        z-index: 999;
                        ul {
                            list-style-type: none;
                            li.card {
                                padding: 15px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                flex-grow: 1;
                            }
                        }
                        &#tulkintakortit {
                            ul.cards {
                                background-color: $white;
                                margin: 0;
                                padding: 0;
                                li.parent {
                                    >p.name {
                                        background-color: $red;
                                        color: $white;
                                        border-radius: 5px;
                                        border: 1px solid $white;
                                        font-weight: 700;
                                        margin: 0;
                                        padding: 15px;
                                    }
                                    ul.children {
                                        margin: 0;
                                        padding: 0;
                                        li.child {
                                            >p.name {
                                                color: $black;
                                                background-color: $paper;
                                                border-radius: 5px;
                                                border: 1px solid $white;
                                                margin: 0;
                                                padding: 15px;
                                            }
                                            ul.grandchildren {
                                                padding: 0 15px;
                                                li.card {
                                                    padding: 15px;

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &#ohjekortit, &#lomakekortit {
                            ul.cards {
                                margin: 0;
                                padding: 0;
                                li.parent {
                                    >p.name {
                                        color: $black;
                                        background-color: $paper;
                                        border-radius: 5px;
                                        border: 1px solid $white;
                                    }
                                    ul.children {
                                        padding: 0 15px;
                                        li.card {
                                            padding: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    span.name {
                        display: block;
                        padding: 15px;
                    }
                    .title {
                        display: block;
                        padding: 15px;
                        margin: 0!important;
                        background-color: $red;
                        color: $white;
                        font-weight: 500;
                        font-size: 2.4rem;
                        border-radius: 5px;
                    }
                    .parent {


                    }
                    @include buttons;
                }

            }
        }
    }
}
