@use "variables/breakpoints" as *;
@use "variables/colors" as *;
@use "variables/typography" as *;

/// Mixin yksittäiselle napille
@mixin button {
	a.button,
	button.button {
		border-radius: 5px;
		padding: 10px 20px;
		background-color: $white;
		border: 1px solid $black;
		color: $black;
		text-decoration: none;
		display: inline-block;
		transition: all 0.15s;
		outline: none;
		font-weight: 400;

		@media (max-width: $max-xl) {
			padding: 5px 10px;
		}

		&:hover {
			background-color: $black;
			color: $white;
		}

		&.inverted {
			background-color: $black;
			color: $white;
			border: 1px solid $black;

			&:hover {
				background-color: $white;
				color: $black;
			}
		}

		&.background-green {
			background-color: $green;
			color: $white;
			border: 1px solid $white;

			&:hover {
				background-color: $white;
				color: $green;
			}
		}

		&.background-cream {
			background-color: $cream;

			&:hover {
				background-color: $black;
			}
		}

		&.rss {
			padding: 5px 15px 5px 35px !important;
			position: relative;
			background-color: $black;
			color: $white;
			font-weight: 600;

			// TODO: MATERIAL ICONS EI OLE SAAVUTETTAVA PSEUDOELEMENTEISSÄ
			&::before {
				content: "\E0E5";
				-webkit-font-smoothing: antialiased;
				font-weight: 400;
				font-family: $font-icons;
				font-size: 2.4rem;
				position: absolute;
				top: 50%;
				left: 7px;
				transform: translate(0, -50%);
			}

			&:hover {
				background-color: $white;
				color: $black;
			}
		}

		&.back {
			padding: 5px 15px 5px 35px !important;
			position: relative;
			font-weight: 600;
			font-size: 2rem;

			// TODO: MATERIAL ICONS EI OLE SAAVUTETTAVA PSEUDOELEMENTEISSÄ
			&::before {
				content: "\e941";
				-webkit-font-smoothing: antialiased;
				font-weight: 400;
				font-family: $font-icons;
				font-size: 2.4rem;
				position: absolute;
				top: 50%;
				left: 7px;
				transform: translate(0, -50%) rotate(180deg);
			}
		}
	}
}

/// Mixin joka sisältää .buttons wrapperin ja kutsuu yksittäisen buttonin suoraan
@mixin buttons {
	.buttons {
		@include button;

		display: flex;
		flex-wrap: wrap;
		gap: 15px;
	}
}

/// Mixin yksittäiselle linkille
@mixin link {
	a {
		color: $green;
		text-decoration: none;
		transition: all 0.15s;
		position: relative;
		display: inline-block;

		&::after {
			content: "";
			background-color: $green;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 1px;
			transition: inherit;
		}

		&:hover {
			&::after {
				width: 100%;
			}
		}
	}
}

// Linkki nuolella
@mixin arrowlink($color, $weight) {
	a:not(.button) {
		display: inline;
		color: $color;
		margin-right: auto;
		text-decoration: none;
		position: relative;

		&::before {
			position: absolute;
			width: 100%;
			height: 1px;
			left: 0;
			bottom: -5px;
			background-color: $color;
			content: "";
		}

		// TODO: MATERIAL ICONS EI OLE SAAVUTETTAVA PSEUDOELEMENTEISSÄ

		span {
			color: $color;
			font-weight: $weight;
			position: relative;
			display: inline-block;

			&::after {
				font-family: $font-icons;
				content: "\eac9";
				transition: all 0.15s;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(25px, -50%);
				font-size: 2.2rem;
				height: auto;
			}
		}

		&:hover {
			span {
				&::after {
					transform: translate(30px, -50%);
				}
			}
		}
	}
}

/// Mixin joka sisältää .links wrapperin ja kutsuu yksittäisen linkin suoraan
@mixin links {
	.links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;

		@include link;
	}
}

// sama mutta nuolille

@mixin arrowlinks($color, $weight) {
	.links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;

		@include arrowlink($color, $weight);
	}
}

// custom checkboxes

@mixin checkboxes {
	.checkbox-wrapper {
		position: relative;
		width: 15px;
		height: 15px;
		margin: 0;

		input {
			position: absolute;
			top: 3px;
			left: 3px;
			height: 0;
			width: 0;
			cursor: pointer;

			&:checked {
				& ~ .checkmark {
					background-color: $black;
					color: $white;

					&::after {
						display: block;
						border: solid $white;
						border-width: 0 3px 3px 0;
					}
				}
			}
		}

		.checkmark {
			cursor: pointer;
			position: absolute;
			top: 50%;
			left: 0;
			height: 15px;
			width: 15px;
			background-color: $white;
			color: $black;
			border: 1px solid $black;
			z-index: 9999;
			transform: translate(0, -50%);

			&::after {
				display: none;
				position: absolute;
				content: "";
				left: 4px;
				top: 2px;
				width: 5px;
				height: 10px;
				font-weight: 300;
				font-size: 1.8rem;
				border: solid $black;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);
				z-index: 99999;
			}
		}
	}
}
