@use "sass:math" as math;

/// Rajoittaa tekstin tietylle rivimäärälle (default 3)
/// @param {Number} $lines - Rivien määrä
@mixin text-clamp($lines: 3) {
	display: -webkit-box; /* stylelint-disable-line */
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/// Dynaaminen fonttikoko
/// @param {Number} $min
/// 	Fonttikoon minimiarvo (rem)
/// @param {Number} $max
/// 	Fonttikoon maksimiarvo (rem)
@mixin font-size($min, $max) {
	$target: math.div($max, 192rem) * 100vw;
	font-size: clamp($min, $target, $max);
}
