$min-xxs: 360px;
$max-xxs: 480px;
$min-xs: 481px;
$max-xs: 575px;
$min-s: 576px;
$max-s: 767px;
$min-m: 768px;
$max-m: 991px;
$min-l: 992px;
$max-l: 1279px;
$min-xl: 1280px;
$max-xl: 1439px;
$min-xxl: 1440px;
$max-xxl: 1919px;
$min-xxxl: 1920px;
$max-xxxl: 2559px;
