$black: #000000;
$white: #FFFFFF;
$blue: #B3CBD6;
$lightgreen: #91AE9E;
$green: #4E5D33;
$green-lighter: #D0D3C7;
$green-lightest: #EBEBE4;
$greenish: #EDEFEB;
$yellow: #E2CC67;
$cream: #EEE5D1;
$red: #8b151e;
$brown: #581906;
$grey: #F2F2F2;
$dim: #F5F5F5;
$lightgrey: #FCFBF8;

$tulkinta-red: #703030;
$tulkinta-green: #2A4E19;
$tulkinta-blue: #011175;
$tulkinta-lightblue: #15778C;

$tulkinta-green-transparent: rgba(41, 78, 25, 0.1);
$tulkinta-red-transparent: rgba(112, 48, 48, 0.1);
$tulkinta-blue-transparent: rgba(1, 17, 117, 0.1);
$tulkinta-lightblue-transparent: rgba(21, 119, 140, 0.1);

$cream-transparent: rgba(238, 229, 209, 0.15);
$grey-transparent: rgba(242, 242, 242, 0.85);
$green-transparent-25: rgba(78, 93, 51, 0.25);
$green-transparent-01: 78, 93, 51, 0.1
