$black: #000;
$white: #fff;
$blue: #b3cbd6;
$lightgreen: #91ae9e;
$green: #4e5d33;
$green-lighter: #d0d3c7;
$green-lightest: #edefeb;
$yellow: #e2cc67;
$cream: #eee5d1;
$red: #8b151e;
$brown: #581906;
$grey: #f2f2f2;
$dim: #f5f5f5;
$lightgrey: #fcfbf8;
$archive-red: #fb786e;
$tulkinta-red: #703030;
$tulkinta-green: #2a4e19;
$tulkinta-blue: #011175;
$tulkinta-lightblue: #15778c;
$tulkinta-green-transparent: rgba(41, 78, 25, 0.1);
$tulkinta-red-transparent: rgba(112, 48, 48, 0.1);
$tulkinta-blue-transparent: rgba(1, 17, 117, 0.1);
$tulkinta-lightblue-transparent: rgba(21, 119, 140, 0.1);
$cream-transparent: rgba(238, 229, 209, 0.15);
$grey-transparent: rgba(242, 242, 242, 0.85);
$green-transparent-25: rgba(78, 93, 51, 0.25);
$green-transparent-01: 78, 93, 51, 0.1;
