@use "mixins/all" as *;

body.blog {
	main {
		.content {
			.grid {
				grid-template-columns: repeat(3, minmax(0, 1fr));
				gap: 50px 25px;

				@media (max-width: $max-m) {
					grid-template-columns: repeat(2, minmax(0, 1fr));
					gap: 30px 15px;
				}

				@media (max-width: $max-xs) {
					grid-template-columns: minmax(0, 1fr);
					gap: 15px;
				}
				nav.navigation.pagination {
					display: flex;
					justify-content: center;
					.nav-links {
						border: 1px solid $black;
						display: flex;
						flex-wrap: wrap;
						@media(max-width:$max-xs) {
							border: none;
							gap: 5px;
						}
						a {
							text-decoration: none;
						}
						a, span {
							font-size: 2rem;
							display: inline-block;
							
						}
						.page-numbers {
							width: 40px;
							height: 40px;
							display: flex;
							justify-content: center;
							align-items: center;
							border-right: 1px solid $black;
							transition: all 0.15s;
							@media(max-width:$max-xs) {
								border: 1px solid $black;
							}
							&.next, &.prev {
								width: auto;
								padding: 0 10px;
							}
							&:last-child {
								border-right: none;
								@media(max-width:$max-xs) {
									border: 1px solid $black;
								}
							}
							&:hover {
								background-color: $green-lightest;
							}
						}
						.current {
							background-color: $green-lightest;
						}
					}
				}
				article {
					display: flex;
					flex-direction: column;

					.entry-title {
						@include text-clamp(3);
					}

					.image {
						border: 1px solid $black;
						picture {
							vertical-align: bottom;
							line-height: 0;
						}
						img {
							height: 250px;
							width: 100%;
							object-fit: cover;
						}

						&.placeholder {
							
							display: flex;
							flex-direction: column;
							height: 250px;
							justify-content: center;
							width: 100%;

							img {
								object-fit: contain;
								height: 100px;
							}
						}
					}

					.content {
						display: flex;
						flex-direction: column;
						flex-grow: 1;

						.entry-content {
							@include text-clamp(3);
						}

						@include arrowlinks;

						.links {
							margin-top: auto;
							padding-top: 25px;
						}

						.excerpt {
							margin-bottom: 15px;

							p {
								font-size: 2rem;
							}
						}
					}
				}
			}
		}
	}
}
