@use "mixins/all" as *;

ul.ui-autocomplete {
	z-index: 999;
	background-color: $white;
	display: block;
	border-bottom: 1px solid $black;
	border-left: 1px solid $black;
	border-right: 1px solid $black;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	max-width: 500px;
	list-style-type: none;
	padding: 0;

	li.ui-menu-item {
		cursor: pointer;

		&:hover {
			div.ui-menu-item-wrapper {
				background-color: $black;
				color: $white;
			}
		}

		div.ui-menu-item-wrapper {
			color: $black;
			padding: 0 15px;
		}
	}
}

.ui-helper-hidden-accessible {
	display: none !important;
}
