/*
*
* Css that applies to all single and archive card pages
*
*/

@use "mixins/all" as *;

section.cards-notification {
	&.scrolled {
		position: fixed;
		left: 0;
		width: 100%;
		z-index: 999999;
	}

	&.expired {
		background-color: $archive-red;
	}

	&.future {
		background-color: $lightgreen;
	}

	.grid {
		padding: 0 15px;

		a {
			text-decoration: none;

			p {
				display: inline-block;
				position: relative;
				font-size: 2rem;

				@media (max-width: $max-s) {
					font-size: 1.8rem;
				}

				span.material-symbols {
					vertical-align: middle;
					transition: all 0.15s;
					font-size: 1.8rem;

					@media (max-width: $max-s) {
						font-size: 1.6rem;
					}
				}
			}

			&:hover {
				p {
					span.material-symbols {
						transform: translateX(10px);
					}
				}
			}
		}

		p {
			display: inline-block;
			position: relative;
			font-size: 2rem;

			@media (max-width: $max-s) {
				font-size: 1.8rem;
			}
		}
	}
}
