@use "mixins/all" as *;

footer {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	@include links;

	.grid:not(.banner) {
		grid-template-columns: repeat(3, minmax(0, 1fr));

		@media (max-width: $max-m) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@media (max-width: $max-s) {
			grid-template-columns: repeat(1, minmax(0, 1fr));
		}
	}

	.grid.banner {
		padding: 15px;
	}

	ul {
		list-style-type: none;
		padding-left: 0;
		line-height: 2;
	}

	.contact-info {
		> a,
		> span {
			display: inline-flex;
			align-items: center;
			gap: 10px;
			text-decoration: none;
		}

		> a {
			.link-text {
				text-decoration: underline;
			}
		}
	}

	.some-link {
		align-items: center;
		display: inline-flex;
		gap: 10px;
		margin-bottom: 10px;

		.some-icon {
			width: 30px;
			height: 30px;
		}
	}

	.web-design {
		grid-column: 1 / -1;
		text-align: center;

		a {
			text-decoration: underline;
		}
	}
}
