@use "mixins/all" as *;

body.page {
    main {
        .page-breadcrumbs {
            background-color: $paper;
            .grid {
                padding: 10px 15px;
                a {
                    color: $red;
                    text-decoration: underline;
                }
            }
        }
        .page-title {
            background-color: $red;
            .grid {
                padding: 15px;
                .entry-title {
                    color: $white;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }
}