@use "mixins/all" as *;

.single-tulkintakortti,
.single-ohjekortti,
.single-lomakekortti {
	.page-breadcrumbs {
		background-color: $grey;

		.grid {
			padding: 10px 15px;
		}

		a {
			color: $red;
			text-decoration: underline;
		}
	}

	.sidebar-grid {
		grid-template-columns: minmax(0, 9fr) minmax(0, 3fr);
		gap: 50px;
	}

	article {
		.card-content {
			.title {
				margin-bottom: 0;
			}
		}
	}

	article,
	aside {
		h1,
		.h1 {
			font-size: 3.6rem;
		}

		h2,
		.h2 {
			font-size: 3.2rem;
		}

		h3,
		.h3 {
			font-size: 2.6rem;
		}

		h4,
		.h4 {
			font-size: 2.2rem;
		}

		h5,
		.h5 {
			font-size: 2rem;
		}

		.red {
			color: $red;
		}

		.desc {
			font-size: 1.4rem;
			font-style: italic;
			font-weight: 400;
			margin-top: 0;
			scroll-margin-top: calc(var(--navbar-height, 100px) + 20px);
		}
	}
}
