@use "mixins/all" as *;

.single-tulkintakortti, .single-ohjekortti, .single-lomakekortti {
    main {
        .page-breadcrumbs {
            background-color: $paper;
            .grid {
                padding: 10px 15px;
                a {
                    color: $red;
                    text-decoration: underline;
                }
            }
        }
        .grid {
            grid-template-columns: 9fr 3fr;
            gap: 50px;
            article {
                .row-block {
                    border-top: 1px solid $red;
                    border-right: 1px solid $red;
                    border-left: 1px solid $red;
                    &:last-child {
                        border-bottom: 1px solid $red;
                    }
                    .grid {
                        grid-template-columns: minmax(0, 1fr);
                        padding: 0;
                        .column.top {
                            width: 100%;
                            .card-info {
                                display: grid;
                                grid-template-columns: 250px minmax(0, 1fr) 150px 150px;
                                width: 100%;
                                justify-content: space-between;
                                align-items: center;
                                .date {
                                    border-right: 1px solid $red;
                                    display: flex;
                                    height: 100%;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 5px;
                                    padding: 15px 30px;
                                    span.small {
                                        font-size: 1.4rem;
                                        font-style: italic;
                                    }
                                    span:not(.small) {
                                        font-size: 1.4rem;
                                        font-weight: 700;
                                    }
                                }
                                .identifier {
                                    border-left: 1px solid $red;
                                    border-right: 1px solid $red;
                                    padding: 15px 30px;
                                    .small {
                                        display: block;
                                        margin-bottom: 15px;
                                        width: 100%;
                                        font-size: 1.6rem;
                                        font-style: italic;
                                    }
                                    .wrapper {
                                        font-weight: 700;
                                        .start {
                                            font-size: 2.4rem;
                                        }
                                        .end {
                                            font-size: 2.2rem;
                                        }
                                    }
                                }
                                .version {
                                    display: flex;
                                    flex-direction: column;
                                    padding: 15px 30px;
                                    span.small {
                                        display: block;
                                        margin-bottom: 15px;
                                        width: 100%;
                                        font-size: 1.6rem;
                                        font-style: italic;
                                    }
                                    span:not(.small) {
                                        font-size: 2.4rem;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                        .column:not(.top) {
                            padding: 30px;
                            .desc {
                                font-size: 1.4rem;
                                font-style: italic;
                                display: block;
                                margin-bottom: 15px;
                            }
                            p:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
            article, aside {
                h1, .h1 {
                    font-size: 3.6rem;
                }
                h2, .h2 {
                    font-size: 3.2rem;
                }
                h3, .h3 {
                    font-size: 2.6rem;
                }
                h4, .h4 {
                    font-size: 2.2rem;
                }
                h5, .h5 {
                    font-size: 2rem;
                }
                .red {
                    color: $red;
                }
            }
        }
    }
}