@use "mixins/all" as *;

.single-tulkintakortti,
.single-ohjekortti,
.single-lomakekortti {
	.site {
		overflow: hidden;
	}

	.grid.toggle {
		display: none;

		@media (max-width: $max-m) {
			display: grid;
			grid-template-columns: minmax(0, 1fr);
			gap: 30px;
			padding-bottom: 0;
		}

		#toggleSidebar {
			display: none;

			@media (max-width: $max-m) {
				display: flex;
				height: 35px;
				position: static;
				top: 0;
				align-items: center;
				gap: 5px;
				margin-right: auto;
				background-color: $white;
				color: $black;
				border: 1px solid $black;
				border-radius: 3px;
				padding: 5px 10px;

				&:hover,
				.active {
					background-color: $black;
					color: $white;

					p.menu-explanation {
						&.active {
							background-color: $black;
							color: $white;
						}
					}
				}
			}

			p.menu-explanation {
				margin: 0;
				font-size: 1.6rem;
				display: none;

				&.active {
					display: block;
					background-color: $white;
					color: $black;
				}
			}
		}
	}

	.sidebar-grid {
		grid-template-columns: minmax(0, 8fr) minmax(0, 4fr);
		gap: 30px;
		position: relative;

		@media (max-width: $max-m) {
			grid-template-columns: minmax(0, 1fr);
		}

		@media (max-width: $max-s) {
			grid-template-columns: minmax(0, 1fr);
		}
	}

	article {
		.card-content {
			position: relative;

			.title {
				margin: 0;
			}

			&.status-past,
			&.status-future {
				> section {
					position: relative;
					z-index: 999;
				}

				&::before {
					position: absolute;
					top: 0;
					left: 10%;
					height: 100%;
					width: 80%;
					background-repeat: repeat-y;
					background-position: center;
					background-size: contain;
					opacity: 0.05;
					content: "";
					z-index: 1;
				}
			}

			&.status-past {
				&::before {
					@include background("#{$images}/expired.png");
				}
			}

			&.status-future {
				&::before {
					@include background("#{$images}/draft.png");
				}
			}

			.desc {
				font-size: 1.4rem;
				font-style: italic;
				font-weight: 400;
				margin-top: 0;
			}

			.tulkinta {
				p {
					position: relative;
					display: flex;
					align-items: center;

					// margin-top: 15px;
					// margin-bottom: 10px;
					padding: 15px 0 10px 40px;
					margin: 0;

					// padding-left: 40px;
					text-transform: uppercase;
					font-size: 1.8rem;
					font-weight: 400;

					.tulkinta-symbol {
						font-family: $font-icons;
						text-transform: none;
						width: 30px;
						height: 30px;
						color: $white;
						position: absolute;
						top: 0;
						bottom: 0;
						margin: auto;
						left: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 60px;
						font-weight: 400;
						font-size: 2.2rem;
					}

					&.green {
						.tulkinta-symbol {
							background-color: $tulkinta-green;
						}
					}

					&.blue {
						.tulkinta-symbol {
							background-color: $tulkinta-blue;
						}
					}

					&.red {
						.tulkinta-symbol {
							background-color: $tulkinta-red;
						}
					}

					&.lightblue {
						.tulkinta-symbol {
							background-color: $tulkinta-turquoise;
						}
					}

					&.law {
						.tulkinta-symbol {
							font-family: $font-main;
						}
					}

					&.info {
						.tulkinta-symbol {
							font-family: $font-main;
						}
					}

					// &.person {
					// 	.tulkinta-symbol {
					// 		content: "\ea3d";
					// 	}
					// }

					// &.check {
					// 	.tulkinta-symbol {
					// 		content: "\e876";
					// 	}
					// }
				}
			}

			.text-wrapper {
				a {
					color: $green;
					font-weight: 600;

					&[target="_blank"] {
						display: inline-block;
						position: relative;
						padding-right: 20px;

						// material icons new tab in after element
						&::after {
							content: "\e89e";
							font-family: $font-icons;
							position: absolute;
							top: 0;
							right: 0;
							font-size: 1.8rem;
							font-weight: 400;
							color: $green;
						}
					}
				}

				&.law,
				&.info,
				&.person,
				&.check {
					// Todo: Figure out why p-margin is not working if padding is set to 0
					padding: 1px 15px;
					border-radius: 15px;
					margin-bottom: 10px;
				}

				&.bg-blue {
					background-color: $tulkinta-blue-light;

					a {
						color: $tulkinta-blue;

						&::after {
							color: $tulkinta-blue;
						}
					}
				}

				&.bg-green {
					background-color: $tulkinta-green-light;

					a {
						color: $tulkinta-green;

						&::after {
							color: $tulkinta-green;
						}
					}
				}

				&.bg-red {
					background-color: $tulkinta-red-light;

					a {
						color: $tulkinta-red;

						&::after {
							color: $tulkinta-red;
						}
					}
				}

				&.bg-lightblue {
					background-color: $tulkinta-turquoise-light;

					a {
						color: $tulkinta-turquoise;

						&::after {
							color: $tulkinta-turquoise;
						}
					}
				}
			}

			.attachments {
				a {
					color: $green;

					&[target="_blank"] {
						display: inline-block;
						position: relative;
						padding-right: 20px;

						// material icons new tab in after element
						&::after {
							content: "\e89e";
							font-family: $font-icons;
							position: absolute;
							top: 0;
							right: 0;
							font-size: 1.8rem;
							font-weight: 400;
							color: $green;
						}
					}
				}
			}

			ol,
			ul {
				margin: 15px 0;

				li {
					margin: 15px 0;
				}

				ol,
				ul {
					margin: 15px 0;

					ol,
					ul {
						margin: 15px 0;
					}
				}
			}
		}
	}

	article,
	aside {
		h1,
		.h1 {
			font-size: 3.6rem;
		}

		h2,
		.h2 {
			font-size: 3.2rem;
		}

		h3,
		.h3 {
			font-size: 2.6rem;
		}

		h4,
		.h4 {
			font-size: 2.2rem;
		}

		h5,
		.h5 {
			font-size: 2rem;
		}

		@include button;

		button.button {
			margin-top: 15px;
			font-weight: 600;
		}
	}

	aside.sidebar {
		background-color: $lightgrey;
		position: relative;
		padding: 0 30px;
		display: flex;
		flex-direction: column;
		gap: 30px;

		@media (max-width: $max-m) {
			grid-row: 1;
			display: none;
			position: static;
			height: auto;
			border: 1px solid $black;
			padding: 30px 30px 60px;

			&.active {
				display: flex;
			}
		}

		&::before {
			background-color: $lightgrey;
			position: absolute;
			top: -30px;
			left: 0;
			content: "";
			width: 240%;
			height: calc(100% + 60px);
			z-index: 1;

			@media (max-width: $max-m) {
				display: none;
				content: none;
			}
		}

		.box {
			z-index: 999;
			position: relative;
			transition: all 0.15s;

			.box-title {
				border-bottom: 1px solid $black;
				display: flex;
				justify-content: space-between;
				align-items: center;
				cursor: pointer;
				margin-bottom: 15px;

				h2,
				h3 {
					margin-bottom: 5px;
				}

				button {
					background: unset;
					border: unset;
					margin-top: auto;
					margin-bottom: 10px;
					transition: all 0.15s;
					padding: 0;
					line-height: 1;
				}
			}

			.box-content {
				display: none;
				transition: all 0.15s;

				&.active {
					display: block;
				}

				a.related-card {
					display: block;

					&:hover {
						text-decoration: none;
					}
				}

				span.card-status {
					margin: 5px 0 15px;
					display: block;
					font-size: 1.4rem;
					text-transform: uppercase;
				}
			}

			&.open {
				.box-content {
					display: block;
				}

				.box-title {
					button {
						.material-symbols {
							transform: rotate(90deg);
						}
					}
				}
			}

			&.return {
				@include arrowlink($black, 600);

				a {
					&::before {
						width: 100% !important;
					}
					span {
						padding-left: 25px;
						transition: all 0.15s;

						&::after {
							right: unset !important;
							left: 0 !important;
							top: calc(50% + 3px) !important;
							transform: translate(0, -50%) rotate(180deg) !important;
						}

						&:hover {
							&::after {
								transform: translate(0, -50%) rotate(180deg) !important;
							}

							padding-left: 30px;
						}
					}
				}
			}
		}

		ul.keywords {
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			gap: 10px;

			li {
				background-color: $white;
				border-radius: 100px;

				/* border: 1px solid $black; */

				/* Trying to get rid of aliasing */
				box-shadow: 0 0 1px 1px black;
				padding: 0 10px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: all 0.15s;

				a {
					font-size: 1.8rem;
					text-decoration: none;

					span {
						position: relative;
						font-size: 1.8rem;
					}

					&:hover {
						span {
							text-decoration: underline;
						}
					}

					&.keyword-link {
						align-items: center;
						display: flex;
						font-weight: 400;
						position: relative;
						text-transform: uppercase;
						background-color: $green;
						width: 18px;
						height: 18px;
						border-radius: 36px;
						margin-left: 5px;
						span.icon {
							color: #fff;
							font-size: 1.4rem;
							font-weight: 400;
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							text-transform: none;
						}
						&:hover {
							background-color: $lightgreen;
							span.icon {
								text-decoration: none;
							}
						}
					}
				}
				.keyword-description-container {
					font-size: 1.6rem;
					font-weight: 400;
					padding: 15px;
					position: absolute;
					left: 1px;
					background-color: $white;
					border: 1px solid $black;
					border-radius: 5px;
					z-index: 999999;
					visibility: hidden;
					p,
					a,
					li,
					strong,
					b {
						font-size: 1.6rem;
					}
					p {
						&:first-of-type {
							margin-top: 0;
						}
						&:last-of-type {
							margin-bottom: 0;
						}
					}
					&.active {
						display: block;
						visibility: visible;
					}
				}
			}
		}

		ol.table-of-contents {
			&.hidden {
				display: none;
			}

			padding-left: 15px;
			list-style-type: none;
			margin: 0;
			counter-reset: item;

			li {
				font-size: 1.8rem;
				font-weight: 400;

				a {
					font-size: 1.8rem;
					font-weight: 400;
				}
			}

			> li {
				counter-increment: item;

				&::marker {
					display: none;
				}

				&::before {
					content: counters(item, ".") ". ";
				}
			}

			ol.sub-list {
				list-style-type: none;
				counter-reset: item;
				padding-left: 15px;
				margin-left: 0;

				> li {
					display: block;
					counter-increment: item;

					&::before {
						content: counters(item, ".") ". ";
					}
				}
			}
		}
	}
}

// We want to hide this earlier since we have fields that get wonky with low res
.single-lomakekortti {
	.sidebar-grid {
		@media (max-width: $min-xxl) {
			grid-template-columns: minmax(0, 1fr);
		}
	}
	aside.sidebar {
		@media (max-width: $min-xxl) {
			grid-row: 1;
			display: none;
			position: static;
			height: auto;
			border: 1px solid $black;
			padding: 30px 30px 60px;

			&.active {
				display: flex;
			}
		}
	}
}
