@use "mixins/all" as *;

html {
	font-size: 62.5%;
}

body {
	font-family: $font-main;
	font-size: 1.8rem;
	font-weight: 400;
}

.ingress {
	font-size: 2rem;
}

p,
li,
a {
	line-height: 1.5;
	font-size: 1.8rem;
}

a {
	color: $black;
}

// h1, h2 jne on nyt mixiniä, jotta ne saadaan järkevästi myös editoriin
// mixins/_headings.scss
@include headings;
